body{
    background-color: #611F2C  
}

h1{
    text-align: center;
    font-weight: lighter;
    color: white;
    font-family: Helvetica, sans-serif;
}

.rose-font{
    font-weight: lighter;
    color: #D51E3C
}