/* Global */
html {
    background-color: #611F2C
}

h1{
    text-align: center;
    font-weight: normal;
    color: white;
    font-family: 'Quicksand';
}

.text-formatation{
    text-align: center;
    font-weight: lighter;
    color: white;
    font-size: 26px;
    font-family: 'Quicksand';
}

.text-formatation-email{
    text-align: center;
    font-weight: lighter;
    color: white;
    font-size: 20px;
    font-family: 'Quicksand';
}

.rose-font{
    color: #D51E3C; 
}

.social-media{
    text-align: center;
    margin: 15px;
    width: 15;
    height: 15;
}

/* Layout */
footer{
    padding: 250px;
}