/* Global */
html {
    background-color: #611F2C
}	

h1{
    text-align: center;
    font-weight: normal;
    color: white;
    font-family: 'Quicksand';
}

.typed-formatation{
    color: black;
}

.rose-font{
    color: #D51E3C; 
}

/* Selections */
h1::selection {
    background: white;
    color: #E8554E;
}

.text-formatation::selection {
    background: white;
    color: #E8554E;
}

.text-formatation-email::selection {
    background: white;
    color: #E8554E;
}

.typed-formatation::selection {
    background: white;
    color: #E8554E;
}

.rose-font::selection {
    background: white;
    color: #E8554E;
}
.social-media::selection {
    background:  #E8554E;
    color: white;
}

@media screen {
    .logo{
        width:"68";
        height:"68";
        float: left;
    }

    .container{
        width: 96%;
    }

    footer{
        padding-top: 160px;
    }

    .text-formatation{
        text-align: center;
        font-weight: lighter;
        color: white;
        font-size: 26px;
        font-family: 'Quicksand';
    }
    .text-formatation-email{
        text-align: center;
        font-weight: lighter;
        color: white;
        font-size: 20px;
        font-family: 'Quicksand';
    }
    .social-media{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 198px;
        height: 70px;
    }

    /* Botões */
    .butn {
        background: #D51E3C;
        background-image: -webkit-linear-gradient(top, #D51E3C, #a1122a);
        background-image: -moz-linear-gradient(top, #D51E3C, #a1122a);
        background-image: -ms-linear-gradient(top, #D51E3C, #a1122a);
        background-image: -o-linear-gradient(top, #D51E3C, #a1122a);
        background-image: linear-gradient(to bottom, #D51E3C, #a1122a);
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        font-family: 'Quicksand';
        color: #ffffff;
        font-size: 13px;
        padding: 8px 10px 8px 10px;
        text-decoration: none;
        float: right
      }
      
      .butn:hover {
        background: #e32242;
        background-image: -webkit-linear-gradient(top, #e32242, #D51E3C);
        background-image: -moz-linear-gradient(top, #e32242, #D51E3C);
        background-image: -ms-linear-gradient(top, #e32242, #D51E3C);
        background-image: -o-linear-gradient(top, #e32242, #D51E3C);
        background-image: linear-gradient(to bottom, #e32242, #D51E3C);
        text-decoration: none;
      }
}

@media (max-width: 320px) {
    .container {
        width: 90%;
    }

    .logo{
        width:"50";
        height:"50";
        float: left;
        margin-right: 0;
    }

    footer{
        padding-top: 75px;
    }

    body{
        float: center;
        text-align: center;
        position: static;
        margin-right: 0;
    }

    .text-formatation{
        text-align: center;
        font-weight: lighter;
        color: white;
        font-size: 14px;
        font-family: 'Quicksand';
    }
    .text-formatation-email{
        text-align: center;
        font-weight: lighter;
        color: white;
        font-size: 12px;
        font-family: 'Quicksand';
    }
    .social-media{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 220px;
        height: 80px;
    }

    /* Botões */
    .butn {
        background: #D51E3C;
        background-image: -webkit-linear-gradient(top, #D51E3C, #a1122a);
        background-image: -moz-linear-gradient(top, #D51E3C, #a1122a);
        background-image: -ms-linear-gradient(top, #D51E3C, #a1122a);
        background-image: -o-linear-gradient(top, #D51E3C, #a1122a);
        background-image: linear-gradient(to bottom, #D51E3C, #a1122a);
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        font-family: 'Quicksand';
        color: #ffffff;
        font-size: 13px;
        padding: 8px 10px 8px 10px;
        text-decoration: none;
        float: right
      }
      
      .butn:hover {
        background: #e32242;
        background-image: -webkit-linear-gradient(top, #e32242, #D51E3C);
        background-image: -moz-linear-gradient(top, #e32242, #D51E3C);
        background-image: -ms-linear-gradient(top, #e32242, #D51E3C);
        background-image: -o-linear-gradient(top, #e32242, #D51E3C);
        background-image: linear-gradient(to bottom, #e32242, #D51E3C);
        text-decoration: none;
      }
}